/*ESTILO DO CORPO*/
body {
	background-color: #004E52;
	background-image: url("../images/logo-azul-escuro.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: verdana;
	color: white;
	text-align: center;
}

/*ESTILO DOS LINKS*/
a {
  color: white;
  text-decoration: none;
}

/*ESTILO DOS CABEÇALHOS 1*/
h1 {
	margin-top: 1.3em;
}

/*ESTILO DOS PARÁGRAFOS*/
p {
	font-size: 20px;
}

/*ESTILOS DOS ITENS DE LISTA*/
li {
	list-style-type: none;
}

/*ESTILO DOS ITENS DE LISTA DO MENU*/
li.menu {
	margin: 15px;
}

/*ESTILO DA DIV DOS CDs*/
.tabela-cds {
	margin-bottom: 1.5em;		
}

/*ESTILO DO MENU*/
#menu {
	position: fixed;
	left: 0;
	top: 30%;
	width: 13em;
	margin-top: -2.5em;
	margin-left: -26px;
	padding-left: 15px;
	border-style: solid;
	border-left: none;
	border-radius: 20px;
	background-color: rgb(255,255,255,0.6);
}

/*ESTILO DAS RÉGUAS DO CORPO*/
hr.body {
	background-color: white;
	color: white;
	height: 1px;
	float: center;
	width: 65%;
}

/*ESTILO DA RÉGUA DO MENU*/
hr.menu {
	margin: 1em;
}

/*ESTILO DAS DIVS DE CADA LETRA*/
.oculta-letra {
	display:none;
}

/*ESTILO DAS LETRAS QUE NÃO EXISTEM*/
.nao_existe {
	color: gray;
}

p.letra {
	display:none;
	font-style: italic;
}

/*CLASSE SEPARADOR*/
.separador {
	display:none;
}

/*ID SEPARADOR*/
#separador {
	margin-top: 2.5em;
}

/*ESTILO DAS DIVS DE CADA HINARIO*/
.oculta-hinario {
	display:none;
}

/*ESTILO DO INPUT PARA PESQUISA*/
input#input_busca {
	border: 2px solid white;
	border-radius: 4px;
	background-color: #004E52;
	height:30px;
	width: 30%;
	color: white;
	padding: 8px;
	margin-bottom: 13px;
}

/*ESTILO DO PLACEHOLDER DO INPUT*/
::placeholder { 
  color: #BBB;
}

/*ESTILO DO INPUT NO MOMENTO DO FOCO*/
input:focus {
  outline: none;
}

/*ESTILO DA DIV COM RESULTADO DA BUSCA*/
.resultado_busca {
	display: none;
}

/*ESTILO DO ICONE DE INFO*/
#icon {
	float: right;
	padding-right: 110px;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
}

/*ESTILO DO BOTÃO DE FECHAR DA INFO*/
#close_button {
	float: none;
	
}

/*ESTILO DA DIV DA INFO*/
#info {
	marging-left: 60%;
	padding-left: 2%;
	padding-right: 2%;
	display: none;
	position: absolute;
	z-index: 1;      
	text-align: left;
	top: 8%; 
	left: 37%;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	width: 50%;
	height: 50%;
	max-height: 60%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*ESTILO DOS PARÁGRAFOS DA CAIXA DE INFO*/
p.info {
	font-size: 15px;
}

/*ESTILO DOS ITENS DE LISTA DA CAIXA DE INFO*/
li.info {
	list-style-type: disc;
	font-size: 13px;
}

h3.info {
	text-align:center;
	float:left;
	margin-right:26%;
	margin-left:30%;
}

/*ESTILO DA BARRA DE ROLAGEM DA CAIXA DE INFO*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*ESTILO DO BOTÃO DE FECHAR DA CAIXA DE INFO*/
#close_button {
	border: 2px solid white;
	border-radius: 4px;
	background-color: #000;
	width: 4%;
	color: white;
	padding-top: 3px;
	margin-top: 2px;
	font-weight: bold;
	position: static;
}

p.info {
	margin-left:0%;
	margin-top:3%;
}

li.info {
	margin-left:5%;
	margin-top:1%;
}